<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>

  <title>MediaRater | {% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="py-6 px-12 flex items-center justify-between bg-purple-700">
        <a href="{% url 'core:index' %}" class="text-2xl text-white font-bold">MediaRater</a>

        <div class="space-x-6">
            {% if request.user.is_authenticated %}
                <a href="{% url 'link:add_link' %}" class="py-4 px-8 bg-purple-900 text-white">Add link</a>
            {% else %}
                <a href="{% url 'user:login' %}" class="py-4 px-8 bg-purple-900 text-white">Log in</a>

                <a href="{% url 'user:signup' %}" class="py-4 px-8 bg-purple-500 text-white">Sign up</a>
            {% endif %}
        </div>
    </nav>

    <main class="py-6 px-12">
        {% block content %}
        {% endblock %}
    </main>

    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="f24cd73f-6f81-4000-99ab-325d88c00f16"  type="text/javascript"></script>
</body>
</html>